{% extends "index.html" %}
{% block content %}

<form action="/quiz" method="post" class="pure-form pure-form-aligned">
    {{ questions_lst2 }}
    {% for row in questions_lst2 %}
    <div class="pure-control-group">
        <fieldset>
            <legend>{{ row[1] }}</legend>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="a">{{ row[2] }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="b">{{ row[3] }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="c">{{ row[4] }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="d">{{ row[5] }}</label><br>
        </fieldset>
    </div>
    {% endfor %}
    <input name="where" id="where" type="hidden" value="1">
    <button type="submit" class="pure-button pure-button-primary">submit</button>
</form>
</div>
{% endblock %}
