{% extends "index.html" %}
{% block content %}
{{ questions }}
{% for row in questions %}
<form action="/quiz_api" method="post" class="pure-form pure-form-aligned">
    <div class="pure-control-group">
        <fieldset>
            <legend>{{ row[0] }}</legend>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="{{ row[1][0] }}">{{ row[1][0]
                }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="{{ row[1][1] }}">{{ row[1][1]
                }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="{{ row[1][2] }}">{{ row[1][2]
                }}</label><br>
            <label class="pure-radio"><input type="radio" name="{{ row[0] }}" value="{{ row[1][3] }}">{{ row[1][3]
                }}</label><br>
        </fieldset>
    </div>
    {% endfor %}
    <input name="where" id="where" type="hidden" value="1">
    <button type="submit" class="pure-button pure-button-primary">submit</button>
</form>
{% endblock %}